body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #1e1e1e;
      color: #fff;
}
h1 {
      margin-top: 20px;
}
#Trysss {
table, th, td{
        border:1px solid white; 
        border-collapse: collapse;
}
}

.centerTable {
        margin-left: auto;
        margin-right: auto;
}
.imageSize {
        width: 60px;
        height: 60px;
}
.raritySize {
        width: 215px;
        height: 60px;
}
.wrapper {
        position: relative;
        width: fit-content;
        margin: 0 auto;
}
#bestParam {
        position: absolute;
        left: 85%;
        top: 20%;
        margin-left: 20px;
        background-color: lemonchiffon;
        color: black;
        padding: 5px 15px;
}